.perso{
  
    margin:0 !important;
    padding: 0;
    box-sizing: border-box !important;
  }
.couleur-bordure{
    border-color: #C46642 !important;
}
.footerLiens{
  color: black;
  text-decoration: none;
}
.ajuste{
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 30px;
  color: #C46642;
}